<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script>
        document.addEventListener("DOMContentLoaded", async ()=>{
            let res = await fetch("https://quotable.io/random");
            let data = await res.json();
    
            document.getElementById("quote").innerHTML = `"${data.content}"<br />- <em>${data.author}</em>`;
        });
      </script>
</head>
<body tabindex="-1">
    <%- include('partials/navbar', {page: ""}) %>

    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
              <div class="max-w-md">
                      <h2 class="text-5xl font-medium" ><%= set.name %></h2>
                      <br />
                      <p class="font-medium">You can find detailed information about the set.</p>
                    </div>  
                
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 m-4">
          <div class="flex items-center justify-center h-full">
            <img class="rounded-lg" src="<%= set.img_url %>" alt="Lego set <%= set.name %>" />
        </div>
        
            <div class="prose">
              <p>
                <span class="font-bold">Set Name: </span> <%= set.name %><br />
                <span class="font-bold">Release Year: </span> <%= set.year %><br />
                <span class="font-bold">Theme: </span> <%= set.theme %><br />
                <span class="font-bold">Number of Parts: </span> <%= set.num_parts %><br />
        
                <br />
        
                <span id="quote"></span>
                <br />
                <br />
                <a class="btn btn-primary btn-sm" href="#" onclick="history.back(); return false;">Back</a>
              </p>
            </div>
        
          </div>
</body>
</html>